# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/.name
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/light-www.iml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
Будет удалено start.patch
/.idea/
/.gitignore
